<h2>Show Article</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @article.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @article.content %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @article.description %>
  </li>
  <li>
    <strong>Author:</strong>
    <%= @article.user.username %>
  </li>

</ul>

<span><%= link "Edit", to: article_path(@conn, :edit, @article) %></span>
<span><%= link "Back", to: article_path(@conn, :index) %></span>
